@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.upload-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    flex-align: center;
}

.step-container {
    font-size: 18px;
    color: #858F97;
    text-align: center;
    margin-top: 25px;
    line-height: 30px;
}

.selected{
    color: #38454F;
    font-weight: 600;
}


.phone-container {
    display: flex;
    position: relative;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 227px;
    height: 407px;
    margin-top: 25px;

    font-family: MarkPro;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #38454f;
    cursor: pointer;
}

.background{
    position: absolute;
    top: 0;
    z-index: -1;
}

button {
    background: #1EA7E2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100%;
    color: white;
    font-size: 16px;
    border: 0;
    z-index: 1000;
    text-align: center;
    vertical-align: center;
    margin: auto;
}

#rotate {

}


.user-photo{
    position: absolute;
    max-width: 100%;
    z-index: 1;
}

.case-mask{

    height: 77vh;
    width: auto;
    margin: 0 auto;
    z-index: 998;
    border: solid 2px rgba(222, 222, 222, .9);
    border-radius: 40px;
    user-select: none;
    pointer-events: none;

}

canvas{
    height: 80%;
    width: 100%;
}

#photoInput {
    visibility: hidden;
}



#first-scene, #second-scene {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#second-scene {
    display: none;
}

.resize-container {
    display: inline-block;
    cursor: move;
    margin: 0 auto;
    position: absolute;
}

.resize-container-ontop {
    position: absolute;
    cursor: move;
    background-color: rgba(5, 255, 5, 0);
    z-index: 999;
    width: 100%;
    height: 100%;
}

.resize-container img {
    display: block;
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(0, 0, 0, .9);
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, .9);
    z-index: 998;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.loader {
    display: none;
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #005f97, 1.8em -1.8em 0 0em rgba(0,95,151, 0.2), 2.5em 0em 0 0em rgba(0,95,151, 0.2), 1.75em 1.75em 0 0em rgba(0,95,151, 0.2), 0em 2.5em 0 0em rgba(0,95,151, 0.2), -1.8em 1.8em 0 0em rgba(0,95,151, 0.2), -2.6em 0em 0 0em rgba(0,95,151, 0.5), -1.8em -1.8em 0 0em rgba(0,95,151, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.7), 1.8em -1.8em 0 0em #005f97, 2.5em 0em 0 0em rgba(0,95,151, 0.2), 1.75em 1.75em 0 0em rgba(0,95,151, 0.2), 0em 2.5em 0 0em rgba(0,95,151, 0.2), -1.8em 1.8em 0 0em rgba(0,95,151, 0.2), -2.6em 0em 0 0em rgba(0,95,151, 0.2), -1.8em -1.8em 0 0em rgba(0,95,151, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.5), 1.8em -1.8em 0 0em rgba(0,95,151, 0.7), 2.5em 0em 0 0em #005f97, 1.75em 1.75em 0 0em rgba(0,95,151, 0.2), 0em 2.5em 0 0em rgba(0,95,151, 0.2), -1.8em 1.8em 0 0em rgba(0,95,151, 0.2), -2.6em 0em 0 0em rgba(0,95,151, 0.2), -1.8em -1.8em 0 0em rgba(0,95,151, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.2), 1.8em -1.8em 0 0em rgba(0,95,151, 0.5), 2.5em 0em 0 0em rgba(0,95,151, 0.7), 1.75em 1.75em 0 0em #005f97, 0em 2.5em 0 0em rgba(0,95,151, 0.2), -1.8em 1.8em 0 0em rgba(0,95,151, 0.2), -2.6em 0em 0 0em rgba(0,95,151, 0.2), -1.8em -1.8em 0 0em rgba(0,95,151, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.2), 1.8em -1.8em 0 0em rgba(0,95,151, 0.2), 2.5em 0em 0 0em rgba(0,95,151, 0.5), 1.75em 1.75em 0 0em rgba(0,95,151, 0.7), 0em 2.5em 0 0em #005f97, -1.8em 1.8em 0 0em rgba(0,95,151, 0.2), -2.6em 0em 0 0em rgba(0,95,151, 0.2), -1.8em -1.8em 0 0em rgba(0,95,151, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.2), 1.8em -1.8em 0 0em rgba(0,95,151, 0.2), 2.5em 0em 0 0em rgba(0,95,151, 0.2), 1.75em 1.75em 0 0em rgba(0,95,151, 0.5), 0em 2.5em 0 0em rgba(0,95,151, 0.7), -1.8em 1.8em 0 0em #005f97, -2.6em 0em 0 0em rgba(0,95,151, 0.2), -1.8em -1.8em 0 0em rgba(0,95,151, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.2), 1.8em -1.8em 0 0em rgba(0,95,151, 0.2), 2.5em 0em 0 0em rgba(0,95,151, 0.2), 1.75em 1.75em 0 0em rgba(0,95,151, 0.2), 0em 2.5em 0 0em rgba(0,95,151, 0.5), -1.8em 1.8em 0 0em rgba(0,95,151, 0.7), -2.6em 0em 0 0em #005f97, -1.8em -1.8em 0 0em rgba(0,95,151, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.2), 1.8em -1.8em 0 0em rgba(0,95,151, 0.2), 2.5em 0em 0 0em rgba(0,95,151, 0.2), 1.75em 1.75em 0 0em rgba(0,95,151, 0.2), 0em 2.5em 0 0em rgba(0,95,151, 0.2), -1.8em 1.8em 0 0em rgba(0,95,151, 0.5), -2.6em 0em 0 0em rgba(0,95,151, 0.7), -1.8em -1.8em 0 0em #005f97;
    }
}
@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #005f97, 1.8em -1.8em 0 0em rgba(0,95,151, 0.2), 2.5em 0em 0 0em rgba(0,95,151, 0.2), 1.75em 1.75em 0 0em rgba(0,95,151, 0.2), 0em 2.5em 0 0em rgba(0,95,151, 0.2), -1.8em 1.8em 0 0em rgba(0,95,151, 0.2), -2.6em 0em 0 0em rgba(0,95,151, 0.5), -1.8em -1.8em 0 0em rgba(0,95,151, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.7), 1.8em -1.8em 0 0em #005f97, 2.5em 0em 0 0em rgba(0,95,151, 0.2), 1.75em 1.75em 0 0em rgba(0,95,151, 0.2), 0em 2.5em 0 0em rgba(0,95,151, 0.2), -1.8em 1.8em 0 0em rgba(0,95,151, 0.2), -2.6em 0em 0 0em rgba(0,95,151, 0.2), -1.8em -1.8em 0 0em rgba(0,95,151, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.5), 1.8em -1.8em 0 0em rgba(0,95,151, 0.7), 2.5em 0em 0 0em #005f97, 1.75em 1.75em 0 0em rgba(0,95,151, 0.2), 0em 2.5em 0 0em rgba(0,95,151, 0.2), -1.8em 1.8em 0 0em rgba(0,95,151, 0.2), -2.6em 0em 0 0em rgba(0,95,151, 0.2), -1.8em -1.8em 0 0em rgba(0,95,151, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.2), 1.8em -1.8em 0 0em rgba(0,95,151, 0.5), 2.5em 0em 0 0em rgba(0,95,151, 0.7), 1.75em 1.75em 0 0em #005f97, 0em 2.5em 0 0em rgba(0,95,151, 0.2), -1.8em 1.8em 0 0em rgba(0,95,151, 0.2), -2.6em 0em 0 0em rgba(0,95,151, 0.2), -1.8em -1.8em 0 0em rgba(0,95,151, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.2), 1.8em -1.8em 0 0em rgba(0,95,151, 0.2), 2.5em 0em 0 0em rgba(0,95,151, 0.5), 1.75em 1.75em 0 0em rgba(0,95,151, 0.7), 0em 2.5em 0 0em #005f97, -1.8em 1.8em 0 0em rgba(0,95,151, 0.2), -2.6em 0em 0 0em rgba(0,95,151, 0.2), -1.8em -1.8em 0 0em rgba(0,95,151, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.2), 1.8em -1.8em 0 0em rgba(0,95,151, 0.2), 2.5em 0em 0 0em rgba(0,95,151, 0.2), 1.75em 1.75em 0 0em rgba(0,95,151, 0.5), 0em 2.5em 0 0em rgba(0,95,151, 0.7), -1.8em 1.8em 0 0em #005f97, -2.6em 0em 0 0em rgba(0,95,151, 0.2), -1.8em -1.8em 0 0em rgba(0,95,151, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.2), 1.8em -1.8em 0 0em rgba(0,95,151, 0.2), 2.5em 0em 0 0em rgba(0,95,151, 0.2), 1.75em 1.75em 0 0em rgba(0,95,151, 0.2), 0em 2.5em 0 0em rgba(0,95,151, 0.5), -1.8em 1.8em 0 0em rgba(0,95,151, 0.7), -2.6em 0em 0 0em #005f97, -1.8em -1.8em 0 0em rgba(0,95,151, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0,95,151, 0.2), 1.8em -1.8em 0 0em rgba(0,95,151, 0.2), 2.5em 0em 0 0em rgba(0,95,151, 0.2), 1.75em 1.75em 0 0em rgba(0,95,151, 0.2), 0em 2.5em 0 0em rgba(0,95,151, 0.2), -1.8em 1.8em 0 0em rgba(0,95,151, 0.5), -2.6em 0em 0 0em rgba(0,95,151, 0.7), -1.8em -1.8em 0 0em #005f97;
    }
}